ul{
  border-left: 5px solid green;
  list-style-type: none;
  font-size: 10px;

}
table {
  border-collapse: collapse;
  width: 100%;
}

th,td {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even)  {background-color:#eae2e2 ;}